local.properties
.classpath
.project
.settings/
.idea/
consensus-microdesc
certificates
cached-microdescs
state
cached-microdescs.new
*.config
*.spvchain
*.wallet
*.orig
PairingQRCode.png
bin/
gen/
target/
packages/
proguard/
/target/
/dist/
