.scroll-pane {
    -fx-focus-color: transparent;
}

.text-area .content{
    -fx-background-color: #3d3d3d;
}

.progress-bar .track {
    -fx-background-color: #d9dee1;
    -fx-background-radius: .3em;
}

.progress-bar .bar {
    -fx-background-color: #95d946;
    -fx-background-radius: .3em;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}

.choice-box .label {
    -fx-text-fill: white;
}
.choice-box .context-menu {
    -fx-background-color: #393939;
    -fx-text-fill: #dc78dc;
}

.choice-box .menu-item .label {
    -fx-text-fill: #dc78dc;
}

.choice-box .menu-item:focused {
    -fx-background-color: #4d5052;
}

.slider .track {
    -fx-background-color: #4d5052;
}

.text-field {
    -fx-focus-color: transparent;
}

.popover > .border {
    -fx-fill: #4d5052 !important;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #4d5052;
}

.tab-pane .tab {
    -fx-background-color: #4d5052;
    -fx-border-color: #393939;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f92672;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: #393939;
    -fx-focus-color: transparent;
}

.list-cell {
    -fx-background-color: #3b3b3b;
    -fx-cell-size: 35;
}

.list-cell:even {
    -fx-background-color: #393939;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:#393939;
    -fx-border-color:transparent;
    -fx-background-insets: 0, 0, 0;

}

.scroll-bar:vertical .track{
    -fx-border-color:transparent;
    -fx-background-color: #4d5052;
    -fx-background-insets: 0, 0, 0;

}

.scroll-bar {
    -fx-background-insets: 0, 2, 0, 2;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #393939;
    -fx-background-radius: 0em;
}

.context-menu {
    -fx-background-color: #393939;
    -fx-text-fill: #dc78dc;
}

.menu-item .label {
    -fx-text-fill: #dc78dc;
}

.menu-item:focused {
    -fx-background-color: #4d5052;
}
