.scroll-pane {
    -fx-focus-color: transparent;
}

.text-area .content{
    -fx-background-color: #3d3d3d;
}

.progress-bar .track {
    -fx-background-color: #d9dee1;
    -fx-background-radius: .3em;
}

.progress-bar .bar {
    -fx-background-color: #95d946;
    -fx-background-radius: .3em;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}

.choice-box .label {
    -fx-text-fill: white;
}
.choice-box .context-menu {
    -fx-background-color: #393939;
    -fx-text-fill: #dc78dc;
}

.choice-box .menu-item .label {
    -fx-text-fill: #dc78dc;
}

.choice-box .menu-item:focused {
    -fx-background-color: #4d5052;
}

.slider .track {
    -fx-background-color: #4d5052;
}

.text-field {
    -fx-focus-color: transparent;
}

.popover > .border {
    -fx-fill: #4d5052 !important;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #4d5052;
}

.tab-pane .tab {
    -fx-background-color: #4d5052;
    -fx-border-color: #393939;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f92672;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: #393939;
    -fx-focus-color: transparent;
}

.list-cell {
    -fx-background-color: #3b3b3b;
    -fx-cell-size: 55;
}

.list-cell:even {
    -fx-background-color: #393939;
    -fx-cell-size: 55;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:#393939;
    -fx-border-color:transparent;
    -fx-background-insets: 0, 0, 0;

}

.scroll-bar:vertical .track{
    -fx-border-color:transparent;
    -fx-background-color: #4d5052;
    -fx-background-insets: 0, 0, 0;

}

.scroll-bar {
    -fx-background-insets: 0, 2, 0, 2;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #393939;
    -fx-background-radius: 0em;
}

.context-menu {
    -fx-background-color: #393939;
    -fx-text-fill: #dc78dc;
}

.menu-item .label {
    -fx-text-fill: #dc78dc;
}

.menu-item:focused {
    -fx-background-color: #4d5052;
}

#emailPane .list-cell {
    -fx-cell-size: 45;
}

#newEmailPane .list-cell {
    -fx-background-color: #393939;
    -fx-cell-size: 10;
    -fx-text-fill: #dc78dc;
}

.html-editor .grid .top-toolbar {
    -fx-background-color: #4d5052;
}

.html-editor .grid .bottom-toolbar {
    -fx-background-color: #4d5052;
}

.html-editor {
    -fx-box-border: transparent;
}
.html-editor .grid .top-toolbar .html-editor-background, .html-editor-foreground,
.html-editor-outdent, .html-editor-indent, .html-editor-bullets, .html-editor-numbers,
.html-editor-align-center, .html-editor-align-right, .html-editor-align-left, .html-editor-align-justify,
.html-editor-paste, .html-editor-cut, .html-editor-copy {
    -fx-background-color: #393939;
    -fx-border-color: #dc78dc;
}

.html-editor .grid .bottom-toolbar .html-editor-strike, .html-editor-hr,
.html-editor-underline, .html-editor-italic, .html-editor-bold {
    -fx-background-color: #393939;
    -fx-border-color: #dc78dc;
}

#newEmailPane .combo-box .arrow-button {
    -fx-background-color: #393939;
    -fx-text-fill: #dc78dc;
}
